/* Customize grid header */
.custom-grid .ag-header {
    background-color: #fff7f0; /* Light background for orange theme */
    border-bottom: 2px solid #ffa94d;
}

.custom-grid .ag-header-cell {
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    border-right: 1px solid #ffe0c2;
}

.custom-grid .ag-header-cell:hover {
    background-color: #ffe6cc;
}

.custom-grid .ag-header-cell-label {
    justify-content: center; /* or left/right */
    padding: 8px;
}
